{%  extends "base.html.twig" %}

{% block title %} Home Page {% endblock %}

{% block body %}
    <h1 class="lead">Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dicta dolore earum fugiat inventore, optio recusandae rem tenetur unde veniam?</p>

{% endblock %}


